<section class="ticker">
    <div class="ticker__container">
        <marquee class="ticker__content" direction="left" behavior="acroll">
            <span class="ticker__item">
                Дело помощи утопающим — дело рук самих утопающих!
            </span>
            <span class="ticker__item">
                Шахматы двигают вперед не только культуру, но и экономику!
            </span>
            <span class="ticker__item">
                Лед тронулся, господа присяжные заседатели!
            </span>
        </marquee>
    </div>
</section>
