<header class="header">
    <picture class="header__background-picture">
        <source media="(min-width: 1400px)"
                srcset="../img/index/promo-xl-1x.png 1x, ../img/index/promo-xl-2x.png 2x"
                type="image/png">
        <source media="(min-width: 576px) and (max-width: 1400px)"
                srcset="../img/index/promo-lg-1x.png 1x, ../img/index/promo-lg-2x.png 2x"
                type="image/png">
        <source media="(max-width: 576px)"
                srcset="../img/index/promo-xs-1x.png 1x, ../img/index/promo-xs-2x.png 2x"
                type="image/png">
        <source media="(min-width: 1400px)"
                srcset="../img/index/promo-xl-1x.webp 1x, ../img/index/promo-xl-2x.webp 2x"
                type="image/webp">
        <source media="(min-width: 576px) and (max-width: 1400px)"
                srcset="../img/index/promo-lg-1x.webp 1x, ../img/index/promo-lg-2x.webp 2x"
                type="image/webp">
        <source media="(max-width: 576px)"
                srcset="../img/index/promo-xs-1x.webp 1x, ../img/index/promo-xs-2x.webp 2x"
                type="image/webp">
        <img class="header__background-image" src="../img/index/promo-lg-1x.png"
             alt="Декоративное изображение">
    </picture>
    <div class="header__container container">
        <div class="header__body">
            <div class="header__logo">
                <img class="header__logo-image"
                     src="../img/logo/logo.svg"
                     alt="Логотип «Клуб четырех коней»">
                <div class="header__logo-label">
                    <p>Клуб</p>
                    <p>четырех коней</p>
                </div>
            </div>
            <h1 class="header__title">
                <span class="header__title-item">
                    Превратите
                </span>
                    <span class="header__title-item">
                    уездный город
                </span>
                    <span class="header__title-item center">
                    в столицу
                </span>
                    <span class="header__title-item right">
                    земного шара
                </span>
            </h1>
            <p class="header__description">
                Оплатите взнос на телеграммы для организации
                Международного васюкинского турнира по шахматам
            </p>
            <div class="header__buttons">
                <button class="header__button button button--black button--md"
                        type="button">
                    Поддержать <br class="no-br no-br--md"> шахматную мысль
                </button>
                <button class="header__button button button--black-outline button--md"
                        type="button">
                    Подробнее о турнире
                </button>
            </div>
        </div>
    </div>
</header>
