.button--black-outline {
  color: var(--black);

  @include media-breakpoint-up(lg) {
    background-color: transparent;
    border: 2px solid var(--black);
  }

  @include media-breakpoint-down(md) {
    background-color: rgba(255, 255, 255, .9);
  }
}

.button--black-outline:hover {
  color: var(--white);
  background-color: var(--black);
}
