:root {
  --white: #ffffff;
  --yellow: #fbce51;
  --red: #f54932;
  --blue: #3057a2;
  --black: #1f1f1f;
  --grey-1: #313131;
  --grey-2: rgba(49, 49, 49, .6);
  --grey-3: rgba(49, 49, 49, .2);
  --grey-4: #eeeeee;
}
